
.pjs-api-search-column .keywords-body
{
  display: flex;
}

.pjs-api-search-column .filter-box-heading .title
{
  font-size: 28pt;
  margin: 15px;
}

.pjs-api-search-column input
{
  width: 100%;
  max-width: unset;
  font-size: 12pt;
  margin: 0;
  padding: 15px 35px 15px 20px;
  border-radius: unset;
  background: #272c32;
  color: white;
  border: none;
}

.pjs-api-search-column .keywords-body img
{
  filter: invert(180%);
  margin: 0px -29px;
  cursor: pointer;
}

.pjs-api-search-column .loading-container .loading:before
{
  filter: invert(180%);
}

.pjs-api-search-column .loading-container .loading:after
{
  color: unset;
}