.pjs-main-container
{
    display:flex;
}

.pjs-api-column-full
{
    width: 100%;
    min-width: 355px;
    overflow: auto;
}

.pjs-api-column-partial
{
    padding-left: 15px;
    width: 75%;
    min-width: 370px;
    overflow: auto;
}

.pjs-api-search-column
{
    width: 25%;
    min-width: 180px;
    background-color: #313541;
    color: white;
    height: fit-content;
}


.pjs-spec-error-panel
{
    display:flex;
    padding:5px
}

.pjs-spec-error-panel .pjs-panel-icon
{
    padding:0px 5px
}

// ****************************************** PJS Overrides ******************************************
.swagger-ui .info:not(.loading-container)
{
    margin: 0px;
    padding: 10px 10px 5px 10px;
    background-color: #f5f5f5;
}

.swagger-ui .info hr
{
    opacity: .5;
}

.swagger-ui .info hgroup.main
{
    text-align: center;
    margin: 0px;
}

.wrapper
{
    padding: 2px 2px 0px 2px;
    max-width: unset;
}

textarea.body-param__text
{
    max-width: 100%;
    resize: none;
}

.opblock-tag-section[specificroute=false] {
    margin-bottom: 20px;
}

.parameters-container>.opblock-description-wrapper
{
    margin: 10px 10px;
}

.parameters-container
{
    margin-bottom: -10px
}

.opblock-description-wrapper,
.opblock-external-docs-wrapper,
.opblock-title_normal
{
    padding: 0px 10px;
}

.execute-wrapper
{
    padding: 10px;
}

.responses-inner
{
    padding: 10px;
}

.topbar
{
    display: none;
}

.parameters-col_description
{
    width: 70%; 
    input[type=text]
    {
        max-width: 100%;
    }
}

.parameter__name
{
    width: 30%; 
}

.table-container
{
    padding: 10px;
}

.auth-wrapper>.btn.authorize
{
    display: none;
}

.response-controls
{
    padding-top: unset;
}

.response-col_description__inner>.renderedMarkdown>p
{
    margin: 0em 0em .5em 0em;
}
